.containerCarteira {
    background-color: #a52a2a;
    width: 15em;
    height: 10%;
    position: absolute;
    top: 90%;
    left: 87%;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s ease, height 0.3s ease;
    transform-origin: right center; 
  }
  

  .containerCarteira.aberto {
    width: 16em;
    height: 14%;
    position: absolute;
    top: 86%;
    left: 86%;
    transition: width 0.7s ease, height 0.1s ease;;
  }
  
  .conteudoCarteira {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
  }